*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
  
    background: #1f1e1e;
}

.container{
    width: 400px;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
   position: absolute;
    padding: 25px 35px;
    border-radius: 10px;
    background: #fff;
   
}
.container p{
    font-size: 20px;
    font-weight: 800;
    color: #333;
}

.container input{
    width: 100%;
    height: 45px;
    margin: 15px 0;
    padding: 0 15px;
    font-size: 17px;
    border-radius: 5px;
    border: 1px solid #ccc;
}
.container button{
    width: 100%;
    height: 45px;
    font-size: 17px;
    font-weight: 500;
    color: #fff;
    background: #27ae60;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 20px 0;
}
.container button:hover{
    background: #219150;
}
#imgBox{
    width: 200px;
    max-height: 0;
    border-radius: 5px;
    overflow: hidden;
    transition: max-height 0.3s ;
    
}
#imgBox img{
    width: 100%;
    padding: 10px;
}
#imgBox.show-img{
    max-height: 290px;
    margin: 10px auto;
    border: 1px solid #ccc;

}

.error{
    animation: shake 0.1s linear 10;

}
@keyframes shake{
    0%{ transform: translateX(0px); }
    25%{ transform: translateX(-5px); }
    50%{ transform: translateX(5px); }
    75%{ transform: translateX(-5px); }
    100%{ transform: translateX(0px); }
}